:root {
  --dark-cyan: #00898c;
  --purple-1: #732573;
  --purple-2: #60306e;
  --purple-3: #4d366b;
  --purple-4: #3e3d66;
  --purple-5: #33496b;
  --green-5: #285770;
  --green-4: #1d6578;
  --green-3: #107582;
  --green-2: #087f87;
  --green-1: #00898c;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: rgba(51, 51, 51, .85);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
}

.container {
  height: auto;
  max-width: 1160px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container.cta {
  max-width: 829px;
  text-align: center;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  font-size: 27px;
  line-height: 42px;
}

.container.cta.buttons {
  margin-top: 22px;
}

.logo-text {
  color: #000;
  margin-top: 6px;
  text-decoration: none;
}

.nav-button-gradient {
  max-width: 219px;
  color: #000;
  text-align: left;
  background-color: #fff;
  background-image: linear-gradient(250deg, #662166, #08737a);
  border: 0 solid #000;
  border-radius: 210px;
  margin-top: 2px;
  margin-left: 10px;
  padding: 3px 3.3px;
  font-size: 16px;
  text-decoration: none;
}

.nav-button-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
}

.nav-button-gradient.guided {
  background-color: #fff;
  margin-left: 14px;
}

.nav_button {
  background-color: #fff;
  border-radius: 500px;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 400;
}

.nav_button:hover {
  color: rgba(255, 255, 255, .9);
  text-align: left;
  background-image: linear-gradient(238deg, #662166, #08737a);
  text-decoration: none;
}

.nav_button.cta_button {
  padding: 5px 20px;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body {
  min-height: auto;
}

.strings {
  color: var(--dark-cyan);
}

.hero-section {
  height: auto;
  max-width: none;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
}

.text-block-3 {
  color: rgba(51, 51, 51, .5);
  text-align: center;
  margin-top: 140px;
  font-family: Noto Sans, sans-serif;
  font-size: 12px;
}

.dropdown-list-2 {
  background-color: #dadada;
}

.dropdown-list-2.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.text-block-10 {
  border-bottom: 1px #000;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
}

.text-block-10:hover {
  color: #333;
  border: 1px #000;
  border-radius: 0;
}

.navbar_container {
  height: auto;
  max-width: 1160px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav_button-2 {
  background-color: #fff;
  border-radius: 500px;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav_button-2:hover {
  color: rgba(255, 255, 255, .9);
  text-align: left;
  background-image: linear-gradient(238deg, #662166, #08737a);
  text-decoration: none;
}

.nav_button-2.tablet {
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
}

.dropdown-toggle-2 {
  padding-right: 20px;
}

.dropdown-toggle-2.links {
  background-color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.dropdown-toggle-2.links:hover {
  color: #333;
  border: 0 #000;
  border-radius: 0;
  font-size: 14px;
}

.dropdown-toggle-2.links.w--open {
  font-size: 18px;
}

.dropdown-list {
  background-color: #e2dfdf;
  font-size: 14px;
}

.dropdown-list.w--open {
  background-color: rgba(255, 255, 255, 0);
  padding-left: 5px;
  font-size: 15px;
}

.dropdown-list.dropdown-box {
  background-color: #fdfdfd;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown-list.dropdown-box.w--open {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.dropdown-list.dropdown-box {
  background-color: #fdfdfd;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.heading-6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.heading-6.logo {
  color: rgba(0, 0, 0, .9);
  padding-left: 0;
  font-weight: 600;
}

.dropdown-list-4 {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-list-4.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.navbar-2 {
  background-color: #fff;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
  display: block;
}

.navbar-2.dropdowns.small-screens {
  display: none;
}

.dropdown-list-3 {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-list-3.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown {
  padding-right: 0;
}

.nav-menu {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.dropdown-link {
  font-size: 15px;
}

.dropdown-link:hover {
  color: var(--dark-cyan);
  font-weight: 400;
}

.dropdown-link:visited {
  background-color: #fdfdfd;
}

.dropdown-link.w--current {
  color: var(--dark-cyan);
}

.circle_heading {
  width: 186px;
  height: 164px;
  background-color: rgba(217, 217, 217, .05);
  border: 1px #000;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 74px;
  display: block;
  box-shadow: 8px 9px 10px rgba(0, 0, 0, .25);
}

.hero-heading {
  color: rgba(0, 0, 0, .85);
  margin-top: -7px;
  margin-bottom: 0;
  margin-left: -40px;
  padding-left: 0;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 27px;
}

.hero-heading.extend {
  margin-left: -52px;
}

.hero-heading.test-suite {
  text-align: left;
  margin-top: -32px;
  line-height: 38px;
}

.hero-heading.syntax {
  margin-left: -50px;
}

.hero-heading.functions-hero {
  margin-left: -64px;
  font-size: 32px;
}

.intro {
  max-width: 1160px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.intro.rel-usage {
  max-width: 753px;
}

.parsers_tick {
  padding-top: 9px;
}

.code-block {
  max-width: 990px;
  object-fit: fill;
  background-color: rgba(217, 217, 217, .2);
  border: 1px #000;
  border-radius: 5px;
  margin: 30px auto;
  display: flex;
  overflow: auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
}

.code-block-text {
  text-align: left;
  flex: none;
  padding: 20px 30px;
  font-family: Consola, sans-serif;
  font-size: 18px;
  line-height: 27px;
  overflow: visible;
}

.paragraph-6 {
  margin-top: 3px;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.intro-ticks {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.paragraph {
  margin-bottom: 0;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  line-height: 30px;
}

.paragraph.heading {
  margin-bottom: 5px;
}

.paragraph.first {
  max-width: 677px;
  margin-bottom: 0;
  font-size: 17px;
}

.paragraph.types {
  max-width: 596px;
}

.paragraph.par-second-line {
  margin-top: 10px;
}

.my-container {
  max-width: 990px;
  margin: 30px auto 0;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
}

.my-container.heading {
  max-width: 990px;
}

.my-container.heading.speed, .my-container.heading.functions {
  margin-top: 20px;
}

.my-container.heading-less-pad {
  max-width: 978px;
  margin-top: 30px;
  padding-bottom: 0;
}

.my-container.table {
  max-width: 978px;
  padding-bottom: 0;
  display: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.my-container.last {
  margin-bottom: 140px;
}

.gradient-heading {
  background-image: linear-gradient(to right, var(--purple-1), var(--purple-2) 12%, var(--purple-3) 23%, var(--purple-4) 34%, var(--purple-5) 44%, var(--green-5) 55%, var(--green-4) 64%, var(--green-3) 74%, var(--green-2) 87%, var(--green-1));
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.gradient-heading.gradient {
  max-width: 235px;
  background-image: linear-gradient(to right, var(--purple-1), var(--purple-2) 12%, var(--purple-3) 23%, var(--purple-4) 34%, var(--purple-5) 44%, var(--green-5) 55%, var(--green-4) 64%, var(--green-3) 74%, var(--green-2) 87%, var(--green-1));
  letter-spacing: .6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
}

.gradient-heading.gradient.heading-size {
  max-width: 170px;
  letter-spacing: .6px;
}

.gradient-heading.gradient.heading-size.grammar {
  max-width: 102px;
}

.gradient-heading.gradient.heading-size.tree {
  max-width: 183px;
}

.gradient-heading.gradient.heading-size-1 {
  max-width: 354px;
}

.gradient-heading.gradient.heading-size-2 {
  max-width: 111px;
}

.gradient-heading.gradient.heading-size-3 {
  max-width: 290px;
}

.gradient-heading.gradient.heading-size-4 {
  max-width: 116px;
}

.gradient-heading.gradient.heading-size-5 {
  max-width: 83px;
}

.gradient-heading.gradient.heading-size-6 {
  max-width: 101px;
}

.gradient-heading.gradient.heading-size-7 {
  max-width: 97px;
}

.gradient-heading.gradient.heading-size-8 {
  max-width: 199px;
}

.gradient-heading.gradient.heading-size-9 {
  max-width: 42px;
}

.gradient-heading.gradient.heading-size-10 {
  max-width: 185px;
}

.gradient-heading.gradient.heading-size-11 {
  max-width: 83px;
}

.gradient-heading.gradient.heading-size-12 {
  max-width: 125px;
}

.gradient-heading.gradient.heading-size-13 {
  max-width: 61px;
}

.gradient-heading.gradient.headin-size-14 {
  max-width: 225px;
}

.gradient-heading.gradient.heading-size-14 {
  max-width: 256px;
}

.gradient-heading.gradient.heading-size-15 {
  max-width: 190px;
}

.gradient-heading.gradient.heading-size-16 {
  max-width: 191px;
}

.gradient-heading.gradient.heading-size-17 {
  max-width: 244px;
}

.gradient-heading.gradient.heading-size-18 {
  max-width: 186px;
}

.gradient-heading.gradient.heading-size-19 {
  max-width: 106px;
}

.gradient-heading.gradient.heading-size-20 {
  max-width: 137px;
}

.gradient-heading.gradient.heading-size-21 {
  max-width: 80px;
}

.gradient-heading.gradient.heading-size-22 {
  max-width: 399px;
  letter-spacing: .7px;
}

.gradient-heading.gradient.heading-size23 {
  max-width: 432px;
}

.gradient-heading.gradient.heading-size-24 {
  max-width: 101px;
}

.gradient-heading.gradient.heading-size-25 {
  max-width: 140px;
}

.gradient-heading.gradient.heading-size-30 {
  max-width: 350px;
}

.copyright {
  max-width: 1160px;
  margin: 80px auto 0;
  padding-bottom: 40px;
}

.paragraph-9 {
  text-align: center;
}

.paragraph-9.copyright-par {
  color: rgba(51, 51, 51, .5);
  font-size: 14px;
}

.res-words {
  color: #4d366b;
  font-family: Consolas, sans-serif;
}

.res-id {
  color: #732573;
}

.inline-link {
  color: var(--dark-cyan);
  text-decoration: none;
}

.body-2 {
  background-color: #fff;
}

.inline-code {
  width: 37px;
  background-color: rgba(217, 217, 217, .4);
  border-radius: 2px;
  font-family: Consola, sans-serif;
}

.h2 {
  letter-spacing: .5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

.int {
  color: #507f98;
}

.list-2 {
  flex-direction: row;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  display: flex;
}

.bullets {
  flex-flow: column;
  flex: 0 auto;
  align-items: flex-start;
  margin-left: 60px;
  display: flex;
}

.bullet-pad {
  margin-top: 16px;
  margin-bottom: 10px;
  padding-right: 9px;
}

.paragraph-10 {
  margin-bottom: 0;
  margin-left: 5px;
  line-height: 31px;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-text {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  box-shadow: 0 5px 5px -20px #000;
}

.table-text.colour {
  background-color: rgba(0, 150, 153, .05);
}

.table-text.colour.shadow {
  box-shadow: inset 0 2px rgba(0, 150, 153, .08);
}

.table-text.colour.shadow.code, .table-text.colour.code {
  font-family: Consola, sans-serif;
}

.table-text.heading {
  font-size: 18px;
  font-weight: 700;
}

.table-text.code-text {
  font-family: Consola, sans-serif;
}

.hero {
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.section-1 {
  margin-top: 160px;
}

.landing-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.heading-12 {
  color: rgba(51, 51, 51, .9);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans, sans-serif;
  font-size: 47px;
  font-weight: 600;
  line-height: 55px;
}

.tick-h2 {
  margin-top: 60px;
}

.tick-heading {
  color: rgba(51, 51, 51, .9);
  text-align: center;
  margin-top: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.tick {
  max-width: 55px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-3 {
  max-width: 279px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-3.second {
  max-width: 302px;
}

.div-block-3.third {
  max-width: 259px;
}

.div-block-3.benchmarks {
  max-width: 725px;
  margin-top: 60px;
}

.div-block-3.cta {
  max-width: 596px;
  text-align: center;
  margin-top: 120px;
}

.par-div {
  max-width: 702px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
}

.section-2 {
  margin-top: 120px;
}

.text-block-16 {
  text-align: center;
  font-family: Noto Sans, sans-serif;
  line-height: 27px;
}

.link-block-2 {
  margin-left: auto;
  margin-right: auto;
}

.image-25 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.graph {
  max-width: 636.11px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.section-3 {
  margin-top: 120px;
}

.code {
  max-width: 1153.68px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.text-block-17 {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
  line-height: 34px;
}

.landing-code {
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 0;
  padding-right: 0;
}

.table-div {
  max-width: 990px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.table-div.table-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.cell-text {
  text-align: center;
  background-color: #fff;
  font-family: Consola, sans-serif;
  line-height: 30px;
}

.cell-text.green {
  background-color: rgba(0, 150, 153, .05);
}

.cell-text.green.middle {
  font-family: Noto Sans, sans-serif;
}

.cell-text.green.middle.first-row {
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
}

.cell-text.green.first-row {
  font-size: 18px;
  box-shadow: inset 0 2px rgba(0, 150, 153, .1);
}

.cell-text.middle {
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
}

.cell-heading {
  text-align: center;
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.hero-div {
  max-width: 1160px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
}

.image-27 {
  width: 100%;
  max-width: none;
  float: none;
  clear: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.text-block-18 {
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
}

.text-block-19 {
  font-family: Noto Sans, sans-serif;
}

.text-block-20 {
  font-family: Noto Sans, sans-serif;
  line-height: 27px;
}

.link-6 {
  color: var(--dark-cyan);
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.image-28 {
  width: 100%;
  max-width: none;
}

.section-margin {
  margin-left: 60px;
  margin-right: 60px;
}

.footer-section {
  margin-top: 150px;
  padding-bottom: 40px;
}

.grid-text {
  color: rgba(51, 51, 51, .6);
  margin-bottom: 10px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
}

.grid-head {
  color: rgba(51, 51, 51, .75);
  margin-bottom: 28px;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.footer-col {
  flex-direction: column;
  display: block;
}

.footer-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.footer-div {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
}

.image-div {
  text-align: center;
  margin-top: 15px;
}

.text-block-21 {
  color: rgba(51, 51, 51, .8);
  text-align: center;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.footer-link {
  color: rgba(51, 51, 51, .6);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--dark-cyan);
}

.dropdown-list-10 {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-list-10.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 10px 20px 10px 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown-list-11 {
  background-color: #dadada;
}

.dropdown-list-11.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 10px 20px 10px 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown-link-4 {
  font-family: Noto Sans, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.dropdown-link-4:hover {
  color: #00898c;
  font-weight: 300;
}

.dropdown-link-4:visited {
  background-color: #fdfdfd;
}

.dropdown-link-4.w--current {
  color: #00898c;
}

.dropdown-list-8 {
  background-color: #dadada;
}

.dropdown-list-8.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown-link-3 {
  font-size: 15px;
}

.dropdown-link-3:hover {
  color: #00898c;
  font-weight: 400;
}

.dropdown-link-3:visited {
  background-color: #fdfdfd;
}

.dropdown-link-3.w--current {
  color: #00898c;
}

.dropdown-list-7 {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-list-7.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.dropdown-list-5 {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-list-5.w--open {
  background-color: #fdfdfd;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .17);
}

.link-block-4 {
  display: none;
}

.image-32 {
  text-align: left;
}

.hero-image-mobile {
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.text-block-22 {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  line-height: 23px;
}

.paragraph-11 {
  font-family: Noto Sans, sans-serif;
  font-size: 17px;
  line-height: 30px;
}

.hero-landscape, .graph-link-block, .graph-vertical-div {
  display: none;
}

.link-8, .link-9 {
  color: var(--dark-cyan);
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .nav_button-2.tablet, .dropdown-toggle-2.links {
    background-color: #fff;
  }

  .dropdown-toggle-2.links:hover {
    border: 1px #000;
  }

  .dropdown-list.dropdown-box.w--open {
    box-shadow: none;
    background-color: #fff;
  }

  .navbar-2.dropdowns {
    display: none;
  }

  .navbar-2.dropdowns.small-screens {
    display: block;
  }

  .dropdown {
    margin-left: 60px;
  }

  .nav-menu {
    background-color: rgba(255, 255, 255, 0);
  }

  .nav-menu.tablet {
    background-color: #fff;
    padding: 20px 0 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  }

  .menu-button-2.w--open {
    background-color: #f7f7f7;
  }

  .menu-button-2.tablet {
    padding: 12px 10px 10px;
  }

  .menu-button-2.tablet.w--open {
    color: rgba(187, 187, 187, .85);
    background-color: #fff;
  }

  .code-block {
    object-fit: fill;
    overflow: auto;
  }

  .code-block-text.dont-wrap {
    flex: none;
    padding-right: 30px;
  }

  .section-1 {
    margin-top: 90px;
  }

  .landing-container {
    margin-left: 60px;
    margin-right: 60px;
  }

  .heading-12 {
    font-size: 42px;
  }

  .section-2, .section-3 {
    margin-top: 90px;
  }

  .landing-code {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-div {
    width: 100%;
    max-width: none;
  }

  .footer-grid {
    margin-left: 30px;
    margin-right: 30px;
  }

  .dropdown-list-8.w--open {
    box-shadow: none;
    background-color: #fff;
  }

  .dropdown-link-3 {
    font-family: Noto Sans, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

  .dropdown-list-7.w--open, .dropdown-list-5.w--open {
    box-shadow: none;
    background-color: #fff;
  }

  .link-block-4 {
    display: none;
  }

  .text-block-22 {
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    margin-top: 25px;
  }

  .text-block-3 {
    margin-top: 60px;
  }

  .navbar_container.nav_container {
    padding-left: 0;
    padding-right: 10px;
  }

  .heading-6 {
    font-size: 22px;
  }

  .dropdown {
    margin-left: 60px;
  }

  .nav-menu.tablet {
    padding-left: 0;
  }

  .menu-button-2.tablet {
    padding: 12px 10px 10px;
  }

  .circle_heading {
    width: 146px;
    height: 124px;
    padding-top: 44px;
  }

  .hero-heading.usage {
    margin-top: 5px;
    margin-left: -51px;
    font-size: 34px;
  }

  .hero-heading.extend {
    margin-top: 5px;
    margin-left: -58px;
    font-size: 34px;
  }

  .hero-heading.test-suite {
    margin-top: -20px;
    margin-left: -49px;
    font-size: 34px;
  }

  .hero-heading.usage-margins {
    margin-top: 5px;
    margin-left: -50px;
    font-size: 34px;
  }

  .hero-heading.syntax {
    margin-top: 5px;
    margin-left: -61px;
    font-size: 34px;
  }

  .hero-heading.types {
    margin-top: 5px;
    margin-left: -49px;
    font-size: 34px;
  }

  .hero-heading.functions-hero {
    margin-top: 5px;
    margin-left: -63px;
    font-size: 24px;
  }

  .hero-heading.speed-margins {
    margin-top: 5px;
    margin-left: -50px;
    font-size: 34px;
  }

  .intro {
    margin-top: 40px;
  }

  .code-block-text {
    padding-right: 30px;
    font-size: 16px;
  }

  .paragraph.heading.hero-par {
    margin-left: -17px;
  }

  .my-container.heading {
    margin-top: 0;
  }

  .my-container.last {
    display: inline-block;
  }

  .bullets {
    margin-left: 20px;
  }

  .hero {
    display: none;
  }

  .section-1 {
    margin-top: 60px;
  }

  .landing-container {
    text-align: center;
  }

  .heading-12 {
    font-size: 31px;
    line-height: 46px;
  }

  .tick-h2.first {
    margin-top: 30px;
  }

  .tick-heading {
    font-size: 18px;
    line-height: 29px;
  }

  .div-block-3.benchmarks {
    margin-top: 30px;
  }

  .div-block-3.cta {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .section-2 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .text-block-16 {
    text-align: center;
    font-size: 16px;
  }

  .link-block-2 {
    margin-top: 50px;
  }

  .image-25 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .graph {
    display: none;
  }

  .section-3 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .text-block-17 {
    font-size: 18px;
  }

  .landing-code {
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .cell-text {
    font-size: 15px;
  }

  .cell-text.green.middle.first-row {
    font-size: 14px;
  }

  .cell-text.green.first-row {
    font-size: 15px;
  }

  .cell-text.middle {
    font-size: 14px;
  }

  .cell-heading {
    font-size: 16px;
  }

  .hero-div {
    max-width: 1160px;
  }

  .text-block-18, .text-block-19, .text-block-20 {
    font-size: 16px;
  }

  .link-6 {
    font-size: 14px;
  }

  .brand {
    padding-left: 0;
  }

  .image-28 {
    height: auto;
  }

  .footer-section {
    margin-top: 100px;
  }

  .footer-col {
    object-fit: fill;
  }

  .image-31 {
    text-align: left;
  }

  .footer-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    object-position: 50% 50%;
    grid-template: "."
                   "."
                   / 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
  }

  .image-div, .text-block-21 {
    text-align: left;
  }

  .link-block-4, .hero-image-mobile {
    display: none;
  }

  .text-block-22 {
    max-width: 329px;
  }

  .hero-landscape {
    text-align: center;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
  }

  .graph-link-block {
    max-width: 1160px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  .graph-vertical-div {
    max-width: 441px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  .graph-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav_button.cta_button {
    font-size: 15px;
  }

  .hero-section {
    margin-left: 30px;
    margin-right: 30px;
  }

  .text-block-3 {
    margin-top: 40px;
  }

  .navbar_container.nav_container {
    padding-right: 0;
  }

  .heading-6 {
    font-size: 20px;
  }

  .navbar-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown {
    margin-left: 20px;
  }

  .menu-button-2 {
    margin-top: -4px;
  }

  .menu-button-2.tablet {
    margin-top: 0;
  }

  .hero-heading.speed-margins {
    margin-left: -50px;
  }

  .parsers_tick {
    padding-top: 7px;
  }

  .code-block-text {
    flex: none;
    padding: 10px;
    font-size: 14px;
  }

  .code-block-text.dont-wrap {
    flex: none;
  }

  .paragraph-6, .paragraph {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph.heading.hero-par {
    margin-left: 0;
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph.first {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph.par-second-line {
    margin-top: 5px;
  }

  .my-container {
    font-size: 16px;
    line-height: 25px;
  }

  .my-container.last {
    margin-top: 0;
    margin-bottom: 60px;
    display: inline-block;
  }

  .gradient-heading.gradient {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .bullets {
    margin-left: 10px;
  }

  .bullet-pad {
    margin-top: 13px;
  }

  .paragraph-10 {
    margin-left: 0;
    font-size: 14px;
    line-height: 28px;
  }

  .hero {
    display: none;
  }

  .landing-container {
    margin-left: 30px;
    margin-right: 30px;
  }

  .heading-12 {
    font-size: 22px;
    line-height: 29px;
  }

  .tick-h2 {
    margin-top: 30px;
  }

  .tick-heading {
    font-size: 16px;
    line-height: 24px;
  }

  .div-block-3.cta {
    margin-left: 30px;
    margin-right: 30px;
  }

  .section-2 {
    margin-top: 60px;
  }

  .text-block-16 {
    font-size: 14px;
    line-height: 23px;
  }

  .text-block-17 {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }

  .landing-code {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .table-div.table-shadow {
    font-size: 18px;
    display: flex;
    overflow: auto;
  }

  .cell-text, .cell-text.green.middle.first-row, .cell-text.green.first-row, .cell-text.middle {
    font-size: 14px;
  }

  .cell-heading {
    font-size: 16px;
  }

  .hero-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-27 {
    width: auto;
    max-width: 100%;
  }

  .text-block-18, .text-block-19 {
    font-size: 14px;
    line-height: 23px;
  }

  .text-block-20 {
    font-size: 15px;
    line-height: 23px;
  }

  .section-margin {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-section {
    margin-top: 50px;
  }

  .footer-grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
  }

  .link-block-3 {
    display: none;
  }

  .link-block-4 {
    display: inline-block;
  }

  .image-32 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-image-mobile {
    max-width: 1160px;
    margin-top: 25px;
    display: inline-block;
  }

  .text-block-22 {
    max-width: 227px;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph-11 {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-landscape {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .graph-link-block {
    margin-top: 10px;
  }

  .graph-heading {
    color: rgba(51, 51, 51, .9);
    font-size: 16px;
    line-height: 18px;
  }
}

#w-node-_26e279ce-213e-f24f-7904-16aa6d93024a-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d93024c-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d93024e-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930250-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930252-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930254-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930256-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930258-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d93025a-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d93025c-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d93025e-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930260-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930262-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930264-d58c59df, #w-node-_26e279ce-213e-f24f-7904-16aa6d930266-d58c59df, #w-node-_45c5a37a-8ed2-49ae-45bc-c6f6c1d3ca81-d58c59df, #w-node-e33763fd-3b9b-333f-759a-1708b4d577cf-d58c59df, #w-node-_6dd6c6b1-8a25-b6d3-2b11-477245ee752e-d58c59df, #w-node-d067482e-7a50-c661-247e-e8a89320d0f4-d58c59df, #w-node-_6dca74c2-54ec-e8ad-d9bc-6e04579a2af7-d58c59df, #w-node-_6bf4e774-283e-73e1-4b7c-f2390c5ec4db-d58c59df, #w-node-_9b5590a8-6f4c-353a-1a74-c55ac2e6cdf0-d58c59df, #w-node-ae6fcea5-bd7d-651d-18b7-13c1b71b3868-d58c59df, #w-node-d76187a3-dde7-eaf7-428e-117f03dd8815-d58c59df, #w-node-_99ce85be-8a69-cf9a-0ab7-b08cd31c4a69-d58c59df, #w-node-_0dfbce79-1cf2-ab79-8301-2d0bd62d671c-d58c59df, #w-node-d757f8d9-a493-8bef-bdf1-32af0448e22c-d58c59df, #w-node-_5b7d1367-d215-1779-6b71-9093b81016be-d58c59df, #w-node-_5e3541b8-28ca-7a0d-8593-f23a1c81406f-d58c59df, #w-node-_8b4eb1b3-6bbb-9783-2d95-722c26a9f488-d58c59df, #w-node-fef2ec36-b3d8-f097-2a81-5051bbd66e68-d58c59df, #w-node-aceddd1c-59e8-76ae-b4e2-16370cf45daa-d58c59df, #w-node-e5190040-28a2-b9d0-9acc-bc18503959cf-d58c59df, #w-node-_41ebd490-e0d3-b9cd-506c-9a0fcc2dc01a-d58c59df, #w-node-_5ec59dc7-2129-a7c2-2b1d-e2c666128fb7-d58c59df, #w-node-_49f7db6d-be18-2d5e-42e0-bde878980369-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6d2-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6d4-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6d6-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6d8-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6da-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6dc-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6de-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6e0-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6e2-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6e4-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6e6-d58c59df, #w-node-_98821750-acdc-b6b7-19fa-4b0cd286b6e8-d58c59df, #w-node-_4325ba3e-2cb9-39e3-2c7c-48ad75db8aa6-d58c59df, #w-node-a0f452cd-c148-8a6d-53ca-458dd5c9efb5-d58c59df, #w-node-_7c7d3eff-7f68-c913-e85d-c6d4f7efbed7-d58c59df, #w-node-bb613bf6-84d7-b8c6-4b3d-d2507544dc31-d58c59df, #w-node-b1ca088d-67e8-91cf-062c-5c1cc44f3689-d58c59df, #w-node-_4a922680-37cb-a1b5-cbf0-4409550e7712-d58c59df, #w-node-_66b81203-34ed-6bc5-68a4-ba35dd7ea88d-d58c59df, #w-node-_34129e0f-b961-43b3-c4f7-bd057b618158-d58c59df, #w-node-_582f9bc7-7514-5ec2-e8be-d1aedba7303b-d58c59df, #w-node-_859a58ef-1547-a039-7415-2adc18f5254e-d58c59df, #w-node-_1cffb6dc-231b-9ac7-93ad-620f6008b6ba-d58c59df, #w-node-b6e094ce-4507-323e-f3ba-50c13ea29f4b-d58c59df, #w-node-_586a6f8a-fbe9-d69e-df0f-ea20e000f15c-d58c59df, #w-node-_69084887-59b5-b151-bbec-5daa5e5a6fc1-d58c59df, #w-node-b4d2b2d5-6688-da88-f98f-2a3a8166c3f2-d58c59df, #w-node-_4a5b5c71-c687-f428-1a94-8227bf485b27-d58c59df, #w-node-_11a45864-68e4-441f-3dc9-e5fe68328b3f-d58c59df, #w-node-_2c48b750-7616-2a76-fd77-9f8cec22dce3-d58c59df, #w-node-_45aa7d34-b861-4232-a3ce-20048e82f580-d58c59df, #w-node-_4a666b60-3064-0b73-9845-9f6aac71af22-d58c59df, #w-node-_642049b6-de94-c15d-ccdd-886bec84750e-d58c59df, #w-node-_06343430-8574-6b4c-e5b4-3e8e679925fc-d58c59df, #w-node-_660e92ce-db79-3368-421c-95ced2e2fa64-d58c59df, #w-node-_743ab614-39fb-c63b-0baa-1786b7504318-d58c59df, #w-node-_8ee52288-2822-dfd8-faec-ff7d00e756de-098c59e7, #w-node-_6986ce29-4cab-af28-be36-4a16c4045655-098c59e7, #w-node-_3547cf25-b735-3405-0ed3-27b00fdbb9c6-098c59e7, #w-node-_1eccede0-ec0d-f1d7-a038-63ce10985785-098c59e7, #w-node-_3d16b803-d6de-d7c9-a974-871d72f8d010-098c59e7, #w-node-_1558a82e-aec1-e490-8b6b-d8b8908589d8-098c59e7, #w-node-f56bc222-3f34-b019-2fc0-38d703d8f37e-098c59e7, #w-node-_80c5e5fa-82e1-e7bb-1b10-e74386862d97-098c59e7, #w-node-_37327b36-4127-328a-9e42-3b3261c97e49-098c59e7, #w-node-_4d3b6978-cdde-c72e-69c0-bd062dcc1308-098c59e7, #w-node-_0b5773f1-22c3-22c2-0021-b0a63ba2f9d8-098c59e7, #w-node-_71e83547-9044-5e56-21d9-ea66178424fb-098c59e7, #w-node-_7c23db2b-ccb2-c12d-aea9-76a88b588f65-098c59e7, #w-node-_77fc3130-abf7-a140-04d9-72ddad1bd8bd-098c59e7, #w-node-d67b882a-15fd-bd25-b0ef-dae314b1abac-098c59e7, #w-node-aae22a11-dde5-b316-b5b3-e899d5bf317b-098c59e7, #w-node-_399b53b1-3733-b3f1-faea-19fb154cd621-098c59e7, #w-node-f6080c16-2876-de76-4dff-cc6202722cd9-098c59e7, #w-node-_3c699aaf-b6cf-4d17-cb9c-27b201c75a30-098c59e7, #w-node-_02177a42-e81a-6035-21b1-0adcd85cc94e-098c59e7, #w-node-_2955b8d3-a670-d0ea-1b1e-1430325185d8-098c59e7, #w-node-_276ed162-4832-d063-aa7e-647d725ad198-098c59e7, #w-node-_95391463-e6f1-da2e-8999-cf455fe01e55-098c59e7, #w-node-_0272430a-27c7-b560-7bf7-0c491ef747dd-098c59e7, #w-node-ecd26b46-981e-fead-fe6f-f1142bb092e7-098c59e7, #w-node-a1e9f0df-9e2e-482b-6041-4f0f1ff1b59e-098c59e7, #w-node-befe5049-2cba-3b8e-1828-93b5b18e6dc5-098c59e7, #w-node-_82c9e859-d4aa-6ec1-c3e4-6b226395474c-098c59e7, #w-node-_855de448-1db6-5861-9cd5-94062ee057da-098c59e7, #w-node-b6537fbe-9cca-80f1-26e3-55b1c728d805-098c59e7, #w-node-_87dd1147-81ac-8e0f-4392-dd148efdf022-098c59e7, #w-node-b3326f36-7aa2-fff8-0bc4-2deb65cb5fd1-098c59e7, #w-node-_631a03c3-8e9e-fb1d-58b3-2750f02f16d1-098c59e7, #w-node-a3317f5f-4817-4c79-9f78-a1944e0f45e0-098c59e7, #w-node-_69bd3eb5-88bf-13ec-e437-8d4c9a86bea4-098c59e7, #w-node-_200e7c13-f64f-9fc2-cc63-e1710873bb68-098c59e7, #w-node-_3ce37d88-00dc-78bf-f9b1-a979be0b8db2-098c59e7, #w-node-_36ba3a56-e532-806f-a461-63de63de5956-098c59e7, #w-node-_9a711147-12a6-7dfb-0ccb-7081d084699c-098c59e7, #w-node-ff145975-1224-7c5c-8fd0-7d46b041dbda-098c59e7, #w-node-_5464446b-4134-c8ad-a52d-7b4a728a944f-098c59e7, #w-node-_1ee8cc29-9be7-6e66-2882-674c6e6c7c2d-098c59e7, #w-node-_1cc303ae-e338-1954-1cfe-b912e9292237-098c59e7, #w-node-ca71bc32-16d0-5698-5520-59865981baa2-098c59e7, #w-node-bb5bd9e4-01ef-dda0-e5e4-4ca3a1149527-098c59e7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-abfc4d3e-97fb-1ab1-409a-ead63d40dead-3d40dea5, #w-node-abfc4d3e-97fb-1ab1-409a-ead63d40deb4-3d40dea5, #w-node-abfc4d3e-97fb-1ab1-409a-ead63d40debd-3d40dea5, #w-node-abfc4d3e-97fb-1ab1-409a-ead63d40dec6-3d40dea5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-abfc4d3e-97fb-1ab1-409a-ead63d40ded1-3d40dea5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: auto;
    justify-self: auto;
  }
}


@font-face {
  font-family: 'Consola';
  src: url('../fonts/consola.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Consolas';
  src: url('../fonts/consolas-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}